{% extends 'struct.html.twig' %}

{% set activePage = 'home' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Alltime</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-wpata">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Alltime ({{ seasons|length }} Seasons)
                        <div class="pull-right">
                            <a href="/alltime.html" class="btn btn-pink btn-xs">
                                <span class="glyphicon glyphicon-stats"></span> Details
                            </a>
                        </div>
                    </h3>
                </div>
                <div class="panel-body alltime">
                    <ul class="list-inline">
                        <li>{{ stats.allEpisodesCount }} Episodes</li>
                        <li class="divider hidden-xs">|</li>
                        <li>{{ stats.alltimePoints|number_format }} Points</li>
                        <li class="divider hidden-xs">|</li>
                        <li>
                            <span data-toggle="tooltip" title="Unique Games">
                                {{ stats.allSeasonsGameCounts.grouped }}<sup class="what-sup">unique</sup>
                            </span>
                            <span data-toggle="tooltip" title="Games Played">
                                {{ stats.allSeasonsGameCounts.total }}<sup class="what-sup">total</sup>
                            </span>
                            Games
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Seasons ({{ seasons|length }})</h1>
        </div>
    </div>
    <div class="row">
        {% for sid, season in seasons %}
            <div class="col-md-3">
                <div class="panel panel-default panel-wpata">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Season {{ season.prettyId }}
                            <div class="pull-right">
                                <a href="/seasons/{{ season.id }}.html" class="btn btn-pink btn-xs">
                                    <span class="glyphicon glyphicon-stats"></span> Details
                                </a>
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list">
                            <li>{{ season.episodes|length }} Episodes</li>
                            <li>{{ stats.allSeasonPoints[season.id]|number_format }} Points</li>
                            <li>{{ stats.singleSeasonGameCounts[season.id].grouped }} Unique Games</li>
                            <li>{{ stats.singleSeasonGameCounts[season.id].total }} Total Games</li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
